DOCTYPE
html 
  head
    meta(charser="UTF-8")
    meta(name="viewport" content="width=device-width initial-scale=1")
    title natours | #{tittle}
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
    link(rel='stylesheet' href='/css/style.css')
    link(rel="shortcut icon" type="image/png" href="/img/users/favicon.png")

   

body 
  include _header

  block content 
    h1 base page 

  include _footer


  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js")
  //- script(src="/js/login.js")
  script(src="https://js.stripe.com/v3/")
  script(src="/js/bundle.js")
  



    //- <div class="footer">
    //-   <div class="footer__logo">
    //-     <img src="img/logo-green.png" alt="Natours logo" />
    //-   </div>
    //-   <ul class="footer__nav">
    //-     <li><a href="#">About us</a></li>
    //-     <li><a href="#">Download apps</a></li>
    //-     <li><a href="#">Become a guide</a></li>
    //-     <li><a href="#">Careers</a></li>
    //-     <li><a href="#">Contact</a></li>
    //-   </ul>
    //-   <p class="footer__copyright">
    //-     &copy; by Jonas Schmedtmann. All rights reserved.
    //-   </p>
    //- </div>




//-    a(href="#" class="nav__el") My bookings
//-    a(href="#" class="nav__el") 
//-     img.nav__user-img(src="/img/users/default.jpg" alt="user_pic")
//-     span mohamed